<%- include('partials/header') %>
<div class="icon" data-aos="zoom-in">
  <img src="images/logo.jpg" class="img-fluid logo">
</div>
<h1>Welcome to MindTools</h1>
<p class="lead">
 <h2>Do you want to design your WebSite ?</h2><br>
</p>
<p class="lead">
  <a href="/feature" class="btn btn-lg btn-dark fw-bold border-black bg-black"
    >Let,s Go</a
  >
</p>
<%- include('partials/footer') %>
